<div class="login-page">
    <section class="login-box">
      <div class="box-header">
        <h2>Bine ai revenit</h2>
        <p class="subtitle">Conectează-te pentru a continua.</p>
      </div>

      <form class="login-form" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label for="email">Email</label>
          <input
            id="email"
            [(ngModel)]="email"
            name="email"
            placeholder="exemplu@email.com"
            required
            type="email"
            pInputText
            class="w-full"/>
        </div>

        <div class="form-field">
          <label for="password">Parolă</label>
          <p-password
            inputId="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Introdu parola"
            [toggleMask]="true"
            [feedback]="false"
            styleClass="w-full"
            inputStyleClass="w-full"
            required>
          </p-password>
        </div>

        <p-button
          class="login-btn"
          type="submit"
          label="Login"
          [loading]="isLoading"
          styleClass="w-full">
        </p-button>
      </form>

      <p class="register-text">Nu ai cont? <a [routerLink]="['/register']">Creează unul</a></p>

      <p-message *ngIf="errorMessage" [text]="errorMessage" severity="error" styleClass="w-full inline-message"></p-message>
    </section>
</div>
